body{
    margin: 0; 
    background-color: #fbcad4;   
    margin-left: 5%;
    width: 526px;
    height: 530px;
}

/* new home page for application page elements positioning and style starts here */
/*universal classes*/
.yesBox{
    position: absolute;
    color:white;
    background-color: green;
    height:30px;
    width:100px;
    left:50px;
    top:450px;
}

.noBox{
    position: absolute;
    color: white;
    background-color: red;
    height:30px;
    width: 100px;
    left:376px; 
    top: 450px
}
/*y coordinates*/
.line1{
    top:75px;
}
.line2{
    top: 129px;
}
.line3{
    top:170px;
}
.line4{
    top:290px;
}
.line5{
    top:320px;
}
.line6{
    top: 400px;
}

/*Line 1: teacher*/
.enterTeacher {
    position: absolute;
    left: 156px;
    height: 30px;
    width:100px;
}

.saveTeacher { 
    left: 256px;
}
.cancelTeacher { 
    left: 306px;
}

/*Line 2: student*/
.enterStudent {
    position: absolute;
    left: 156px;    
    width: 95px;
    height: 25px;
}

.saveStudent { 
    left: 256px;
}
.cancelStudent { 
    left: 306px;
}

/*Line 3: date and time left*/
.enterDate{
    position: absolute;
    left: 55px;
    top: 220px;
}

.enterTime{
    position: absolute;
    left: 330px;
    top: 225px;
}

.enterTimeValue{
    position: absolute;
    left: 330px;
    top:178px;

    font-weight: bold;
    color: black;
}

/*line 4: radio period*/

.RAPID{
    position: absolute;
    left:222px;
}
.period1{
    position: absolute;
    left: 263px;

}
.period2{
    position: absolute;
    left: 304px;;
}
.period3{
    position: absolute;
    left: 345px;
}
.period4{
    position: absolute;
    left:386px;
}
.period5{
    position: absolute;
    left: 427px;
}

/*Line 5: enter reason*/
.enterReason{
    position: absolute;
    left:150px;
    width:160px;
    height:48px;
    resize: none;
}
.saveReason{
    position: absolute;
    left:320px;
}
.cancelReason{
    position: absolute;
    left: 370px;
}


/*Line 6: final submission button*/
.submit{
    position: absolute;
    left: 200px;
    width:200px;
    height: 50px;
    font-size: 16px;
}


/*
{ 
    position: absolute;
    left: px;
    top: px;
}
{ 
    position: absolute;
    left: px;
    top: px;
}
{ 
    position: absolute;
    left: px;
    top: px;
}
*/
/* new home page for application page elements positioning and style ends here */
